import(statmod)
import(preprocessCore)
import(limma)
import(ggplot2)
import(RColorBrewer)
import(MSnbase)
importFrom(tidyr, spread, gather)
importFrom(dplyr, filter_at, mutate, mutate_all, mutate_at, one_of, left_join,right_join,desc,distinct,rename,count,n)
importFrom(dplyr,summarize_all, select, vars, ungroup,filter,all_vars,arrange,bind_rows,everything,funs,group_by, rename_at, rename_all)
importFrom(magrittr,"%>%", "use_series", "%$%", "%<>%")
importFrom(stringr, str_replace)
importFrom(purrr, map_dfr)
importFrom(GenomicRanges,GRanges,union)
importFrom(BiocGenerics, start, end, width)
importFrom(IRanges, IRanges, reduce)
importFrom(Biobase, fData, pData, exprs, featureNames,sampleNames,"exprs<-","pData<-","featureNames<-")
importFrom(Biostrings,readAAStringSet,startIndex,endIndex,vmatchPattern)
importFrom("graphics", "axis", "hist", "lines", "par", "rect",
             "smoothScatter", "text")
importFrom("stats", "as.dendrogram", "median", "na.omit", "setNames")
importFrom("stats", "as.formula", "complete.cases", "contrasts", "cor",
             "dist", "hclust", "lm", "model.matrix", "prcomp", "resid",
             "smooth.spline", "var")
importFrom("utils", "head", "tail", "write.table")
importFrom("tibble", "column_to_rownames", "rownames_to_column")
importFrom(grDevices, colorRampPalette)
importFrom(ggdendro, dendro_data, label)

export(
  "assignColours","computeDiffStats","convertToMSnset"     
  ,"corrPlot","coveragePlot","getContrastResults"  
  ,"groupScaling","hierarchicalPlot","intensityBoxplot"    
  ,"intensityPlot","maVolPlot","normalizeQuantiles","normalizeScaling",
  "pcaPlot","peptideIntensityPlot","plotMeanVar","regressIntensity"    
  ,"rliPlot","rowScaling","summarizeIntensities"
)
