import(MSnbase)
import(RColorBrewer)
import(assertthat)
import(ggplot2)
import(limma)
import(preprocessCore)
import(statmod)
importFrom(tidyr, drop_na, pivot_longer, pivot_wider)
importFrom(dplyr,
          across,
          arrange,
          bind_cols,
          bind_rows,
          count,
          desc,
          distinct,
          everything,
          filter,
          funs,
          group_by,
          left_join,
          mutate,
          n,
          one_of,
          rename,
          rename_with,
          right_join,
          select,
          summarize,
          ungroup,
          vars)
importFrom(magrittr,"%>%", "use_series", "%$%", "%<>%")
importFrom(stringr, str_c, str_replace, str_replace_all)
importFrom(purrr, map_dfr, map_lgl)
importFrom(GenomicRanges,GRanges,union)
importFrom(BiocGenerics, start, end, width)
importFrom(IRanges, IRanges, reduce)
importFrom(Biobase, fData, pData, exprs, featureNames, sampleNames, "exprs<-",
           "pData<-","featureNames<-")
importFrom(Biostrings,readAAStringSet,startIndex,endIndex,vmatchPattern)
importFrom("graphics", "axis", "hist", "lines", "par", "rect",
             "smoothScatter", "text")
importFrom("stats", "as.dendrogram", "median", "na.omit", "setNames", 
           "as.formula", "complete.cases", "contrasts", "cor", "dist",
           "hclust", "lm", "model.matrix", "prcomp", "resid", "smooth.spline",
           "var")
importFrom("utils", "head", "tail", "write.table")
importFrom("tibble", "column_to_rownames", "rownames_to_column")
importFrom(grDevices, colorRampPalette)
importFrom(ggdendro, dendro_data, label)

export(
  "assignColours","computeDiffStats","convertToMSnset"     
  ,"corrPlot","coveragePlot","getContrastResults"  
  ,"groupScaling","hierarchicalPlot","intensityBoxplot"    
  ,"intensityPlot","maVolPlot","normalizeQuantiles","normalizeScaling",
  "pcaPlot","peptideIntensityPlot","plotMeanVar","regressIntensity"    
  ,"rliPlot","rowScaling","summarizeIntensities","mergePeptides"
)
