import(magrittr)
import(tidyr)
import(statmod)
import(preprocessCore)
import(limma)
import(ggplot2)
import(RColorBrewer)
import(MSnbase)
import(dplyr)
importFrom(purrr, map_dfr)
importFrom(GenomicRanges,GRanges,union)
importFrom(BiocGenerics, start, end, width)
importFrom(IRanges, IRanges, reduce)
importFrom(Biobase, fData, pData, exprs)
importFrom(Biostrings,readAAStringSet,startIndex,endIndex,vmatchPattern)
importFrom("graphics", "axis", "hist", "lines", "par", "rect",
             "smoothScatter", "text")
importFrom("stats", "as.dendrogram", "median", "na.omit", "setNames")
importFrom("stats", "as.formula", "complete.cases", "contrasts", "cor",
             "dist", "hclust", "lm", "model.matrix", "prcomp", "resid",
             "smooth.spline", "var")
importFrom("utils", "head", "tail", "write.table")
importFrom("tibble", "rownames_to_column")
importFrom(grDevices, colorRampPalette)
importFrom(ggdendro, dendro_data)

export(
  "assignColours","computeDiffStats","convertToMSnset"     
  ,"corrPlot","coveragePlot","getContrastResults"  
  ,"groupScaling","hierarchicalPlot","intensityBoxplot"    
  ,"intensityPlot","log2xplus1","maVolPlot"           
  ,"normalizeQuantiles","normalizeScaling","pcaPlot"             
  ,"peptideIntensityPlot","plotMeanVar","regressIntensity"    
  ,"rliPlot","rowScaling","summarizeIntensities"
)
